@model CarsWithIdentity.Models.Tables.ContactUs

@{
    ViewBag.Title = "ContactUs";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2>Contact Us</h2>
            @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    <label>VIN #</label>
                    @Html.HiddenFor(m => m.CarId)
                    @Html.TextBoxFor(m => m.VIN, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    <label>Name</label>
                    @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Message</label>
                    @Html.TextAreaFor(m => m.ContactMessage, new { @class = "form-control" })
                </div>
                <button class="btn btn-primary">Submit</button>
            }

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <style>
                /* Always set the map height explicitly to define the size of the div
                * element that contains the map. */
                #map {
                    height: 400px;
                }
            </style>
            <div id="map"></div>
            <div id="address">
                <p>111 W Main St</p>
                <p>Kent, OH 44444</p><br />
                <p>Sales: 111-111-1111</p>
                <p>Service: 111-111-1112</p>
            </div>
            <script>
                var map;
                var Dealership;
                function initMap() {
                    Dealership = { lat: 41.153772, lng: -81.358410 };
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: Dealership,
                        zoom: 18
                    });
                    var marker = new google.maps.Marker({
                        position: Dealership,
                        map: map
                    });
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH5HWeRBQjCZxPp-P4l134zvF3EslfSVs&callback=initMap"
                    async defer></script>
        </div>
    </div>

</div>


